@font-face {
  font-family : "rcr";
  src         : url("../font/RCR.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  background-image: url('../img/back.png');
}

#container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

canvas {
  margin: auto;
  margin-top: 0;
  z-index: 2;
}

#infos {
  height: 33px;
  width: 100%;
  margin: 0 0 32px 0;
  padding: 8px 16px;
  border: none;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  transition: 0.3s;
  z-index: 2;
}
#infos:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}
#infos:focus {
  outline: none;
}

#informations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000d;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

#title {
  width: 100%;
  height: 64px;
  padding-top: 32px;
	text-align:center;
	font-size:73px;
	font-weight:bold;
	font-family:"Comic Sans MS", cursive;
	color:#F33;
}

nav {
  width: 256px;
	text-align:center;
	background-image:url('../img/dark-magician-girl.png');
	background-position:center;
	background-repeat:repeat;
	border-right:3px #FF3399 solid;
	border-bottom:3px #FF3399 solid;
}

nav table {
  width: 100%;
  margin: 32px 0;
  background-color: #fcf;
  border: 1px solid #000;
}

nav td {
  border: 1px solid #000;
}